<html>
    <head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script> jQuery(document).ready(function(){ callQR(); }); function callQR(){ var url=document.URL; url=encodeURI(url); var fullUrl="https://chart.googleapis.com/chart?chs=150x150&cht=qr&choe=UTF-8&chl="+url; jQuery("#QR").attr("src",fullUrl); }
	</script>
        <style>
        td{
    border:black thin solid;
    max-width:50%;
    width:50%;
}
table{
    width:100%;
}
</style>
	    <title>
		    V3 {{ page.title }}
	    </title>
    </head>	
    <div>
        <table id="tblOne" >
            <tr>
                <td>FirstName : {{ page.FirstName }}</td>
                <td rowspan="3">
                    <img src="/images/{{ page.img }}" >
                </td>
            </tr>
	    <tr>
		    <td>LastName: {{ page.LastName. }}</td>		
	    </tr>
	    <tr>
		    <td colspan"3"> 
			    <img id="QR" src="#" />
		    </td>
		</tr>
        </table>
        
        </div>
</html>
