<html>
    <head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script> jQuery(document).ready(function(){ callQR(); }); function callQR(){ var url=document.URL; url=encodeURI(url); var fullUrl="https://chart.googleapis.com/chart?chs=150x150&cht=qr&choe=UTF-8&chl="+url; jQuery("#QR").attr("src",fullUrl); }
	</script>
        
	    <title>
		    V8 {{ page.title }}
	    </title>
    </head>	
    <div>
        <table id="tblOne" >
            <tr>
                <td>FirstName : {{ page.FirstName }}</td>
                <td rowspan="3">
                    <img src="/images/{{ page.img }}" >
                </td>
            </tr>
	    <tr>
		    <td>LastName: {{ page.LastName. }}</td>		
	    </tr>
		
	   <tr>
		   <td>Home Room Teacher: {{ page.HomeRoomTeacher }}
		</tr>
		 <tr>
		   <td>Grade: {{ page.Grade }}
		</tr>
	    <tr>
		    <td colspan"5"> 
			    <img id="QR" src="#" />
		    </td>
		</tr>
        </table>
        
        </div>
	<div>
		{{ content }}
	</div>
</html>
