<html>
    <head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <style>
        td{
    border:black thin solid;
    max-width:50%;
    width:50%;
}
table{
    width:100%;
}
</style>
	    <title>
		    V1 {{ page.title }}
	    </title>
    </head>	
    <div>
        <table id="tblOne" >
            <tr>
                <td>FirstName : {{ page.FirstName }}</td>
                <td>
                    <img src="/images/{{ page.img }}" >
                </td>
            </tr>
        </table>
        
        </div>
</html>
